<div class="map" id="map" class="match-parent"></div>

<div class="zoom">
 <link href="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css" rel="stylesheet">
</div>


<div class="mapboxgl-ctrl-top-right">
  <div class="mapboxgl-ctrl mapboxgl-ctrl-group">

    <button class="mapboxgl-ctrl-zoom-in" type="button" aria-label="Zoom in" >
      <span class="mapboxgl-ctrl-icon"  title="Zoom in" ></span>
    </button>

    <button class="mapboxgl-ctrl-zoom-out" type="button" aria-label="Zoom out" aria-disabled="false">
      <span class="mapboxgl-ctrl-icon" aria-hidden="true" title="Zoom out"></span>
    </button>

    <button class="mapboxgl-ctrl-compass" type="button" aria-label="Reset bearing to north">
      <span class="mapboxgl-ctrl-icon" aria-hidden="true" title="Reset bearing to north"></span>
    </button>
    
  </div>
</div>





