<mat-card>
  <mat-card-header>
  
  </mat-card-header>
  <mat-card-content>
  <form class="weather-form" [formGroup]="weatherForm">


    <mat-form-field>
      <mat-label> Latitude </mat-label>
      <input matInput type="text" formControlName="lat">
    </mat-form-field>

    <mat-form-field>
      <mat-label> Longitude </mat-label>
      <input matInput type="text" formControlName="lon">
    </mat-form-field>

    <ng-container *ngIf="weather">
      <mat-list>


        <mat-expansion-panel expanded>
          <div class="display-info">
            <div *ngIf=" weather">
              <div *ngFor="let dv of weatherDisplayValues">
                <app-display-value title="{{dv}}" value="{{weather[dv] | weatherDisplayPipe:dv}}"></app-display-value>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
             Temperature Info
          </mat-expansion-panel-header>

          <div class="display-info">

            <div *ngFor="let dv of mainDisplayValues">
              <app-display-value title="{{dv |MianKeyname}}" value="{{weather.main[dv] | weatherDisplayMainPipe:dv}}">
              </app-display-value>
            </div>
          </div>
        </mat-expansion-panel>






        <mat-divider></mat-divider>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
             Wind Info
          </mat-expansion-panel-header>

          <div class="display-info">

            <div *ngFor="let dv of windDisplayValues">
              <app-display-value title="{{dv | Windkeyname}}" value="{{weather.wind[dv] | weatherDisplayWindPipe:dv}}">
              </app-display-value>
            </div>
          </div>
        </mat-expansion-panel>


        <mat-divider></mat-divider>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
             Cloud Info
          </mat-expansion-panel-header>

          <div class="display-info">

            <div *ngFor="let dv of cloudDisplayValues">
              <app-display-value title="{{dv | CloudKeyname}}"
                value="{{weather.clouds[dv] | weatherDisplayCloudPipe:dv}}"></app-display-value>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
             Sunrise Info
          </mat-expansion-panel-header>

          <div class="display-info">

            <div *ngFor="let dv of sysDisplayValues">
              <app-display-value title="{{dv}}" value="{{weather.sys[dv] | weatherDisplaySysPipe:dv}}">
              </app-display-value>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-list>
    </ng-container>


    <mat-card-actions>
      <button mat-raised-button color="warn" [disabled]="!weatherForm.valid" (click)="getWeather()">Get location
        details</button>
    </mat-card-actions>

  </form>
</mat-card-content>
</mat-card>